<p>
  <mat-toolbar color="primary">
    <a routerLink="/shop" style="text-decoration: none;">
      <span style="color: white;">
        <span nz-icon nzType="mobile" nzTheme="outline"></span>MoboShop</span></a>
    <div>
      <a  nz-dropdown style="color: white; text-decoration: none; margin: 20px;" [nzDropdownMenu]="menu">
        <span nz-icon nzType="caret-down" nzTheme="outline"></span>
      </a>
      
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="OnSaveData()">Save</li>
          <li nz-menu-item (click)="LoadingData()">Load</li>
        </ul>
      </nz-dropdown-menu>
      </div> 
    <div>
      <a style="color: white;" routerLink="auth"><span nz-icon nzType="user" nzTheme="outline"></span></a>
     </div>
     <a  style="text-decoration: none;margin: 20px;" routerLink="accessories"><span style="color: white;"><span nz-icon nzType="shopping-cart" nzTheme="outline"></span>accessories</span></a>
  </mat-toolbar>
</p>

