<div class="row">
    <div class="col-xs-12">
        <app-user-item *ngFor="let item of user; let index = index"
        [user]="item" [id]="index"></app-user-item>
    </div>
</div> <br>
<button class="btn btn-primary" (click)="OnClick()">
    <span nz-icon nzType="user" nzTheme="outline">
     </span> User information</button> |
     <button class="btn btn-danger" (click)="OnAdd()">ADD </button> | 
     <button class="btn btn-success" (click)="OnSave()">Save</button> | 
     <button class="btn btn-success" (click)="fetchdata()">Load</button>
   