<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>{{accessories.name}}</h1> 
                 <h3>{{accessories.description}}</h3> 
                  <img [src]="accessories.img" ><br>
                  <button class="btn btn-primary" (click)="Onedit()">edit</button> |
                  <button class="btn btn-danger" (click)="OnAddToShoppingList()">Add To Shoppinglist</button>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-comment></app-comment>
    </div>
</div>