<div class="row">
    <div class="col-xs-12">
        <app-accessories-item *ngFor="let item of accessories ; let index = index"
        [accessories]="item" [id]="index"></app-accessories-item>
    </div>
</div><br>
<button class="btn btn-primary" (click)="Onedit()">Add accessories</button>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <nz-alert nzType="error" nzMessage="{{error}}" *ngIf="error" nzShowIcon></nz-alert>
            </div>
        </div>
    </div>
</div>
